@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 253, 253;
  --primary-color: 9, 115, 27, 1;
  --secondary-color: 32, 34, 79, 1;
  --black-color: 60, 63, 64, 1;
  --gradient-grey: linear-gradient(180deg, #FDFDFD 0%, #F2F2F2 100%);
  --gradient-color-accent: linear-gradient(90deg, #30D7AF 2.65%, #74E62F 100%);
}


@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}


body {
  color: rgb(var(--black-color));
  background-color: rgb(var(--gradient-grey));
}

.intro-dots-selectors-wrapper {
  width: 91px;
  height: 333.799px;
  flex-shrink: 0;
  border-radius: 397px;
  fill: linear-gradient(180deg, #FDFDFD 0%, #F2F2F2 100%);
}

.gradient-accent-color {
  background: var(--gradient-color-accent);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.intro-text {
  color: #3C3F40;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customButtonOne{
  width: 142px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 0px 24px 24px 24px;
  background: #20224F;
  color: #FDFDFD;
  font-weight: bold;
}


.customButtonTwo{
  width: 142px;
  height: 45px;
  border-radius: 0px 24px 24px 24px;
  background: var(--gradient-color-accent);
  color: #FDFDFD;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.customButtonTwo::before {
  line-height: 2.6;
  text-align: center;
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 0px 24px 24px 24px;
  background-color: #FDFDFD;
  z-index: -1;
  transition: 200ms
}
.customButtonThree{
  width: 142px;
  height: 45px;
  border-radius: 24px 0px 24px 24px;
  background: var(--gradient-color-accent);
  color: #FDFDFD;
  font-weight: bold;
  position: relative;
  z-index: 1;
}

.customButtonThree::before {
  line-height: 2.6;
  text-align: center;
  content: "";
  position: absolute;
  left: 1px;
  right: 1px;
  top: 1px;
  bottom: 1px;
  border-radius: 24px 0px 24px 24px;
  background-color: #FDFDFD;
  z-index: -1;
  transition: 200ms
}

.gcr-rounded-products-wrapper{
  border-radius: 0px 98px 98px 98px;
  border: 1px solid #F8F8F8;
  background: #F8F8F8;
}

.gcr-rounded-product-wrapper{
  border-radius: 0px 48px 48px 48px;
  background: #FFF;
  box-shadow: 2px 1px 4px 0px rgba(0, 0, 0, 0.25);
}

.gcr-products-top-description {
  font-family: Roboto;
  font-weight: 400;

}

.gcr-products-product-name{
  color: #20224F;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.gcr-products-product-description{
  color: #272727;
  font-family: Roboto;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.customButtonTwo:hover::after{
  color: white;
}

.contactUsForm{
  border-radius: 0px 33px 33px 33px;
background: #FFF;
box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
}

.contactUsInput{
border-radius: 14px;

background: #FCFCFC;
height: 45px;
flex-shrink: 0;
padding-left: 12px;
}

.contactUsTeaxtArea{
  border-radius: 14px;
  background: #FCFCFC;

  height: 128px;
  flex-shrink: 0;
  padding: 5px 12px;
}

.customButtonFour{
  width: 142px;
  height: 45px;
  flex-shrink: 0;
  border-radius: 24px 0px 24px 24px;
  background: #20224F;
  color: #FDFDFD;
  font-weight: bold;
}
